// .st2 {
//   fill: none;
//   stroke: #e01435;
//   stroke-width: 9;
// }

// .st4 {
//   // display: none;
//   fill: none;
//   stroke: black;
//   stroke-width: 9;
// }

.st0 {
  display: none;
}
.st1 {
  display: inline;
  fill: #e01435;
}
.st2 {
  fill: none;
  stroke: #1d1d1b;
  stroke-width: 9;
  stroke-miterlimit: 10;
}
.st3 {
  fill: none;
  stroke: #e01435;
  stroke-width: 9;
  stroke-miterlimit: 10;
}
.st4 {
  display: none;
  fill: #e01435;
}
